---
http_interactions:
- request:
    method: get
    uri: http://kb.phenoscape.org/api/taxon?iri=http://purl.obolibrary.org/obo/VTO_0067193
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.13.1 Phenoscaperb/v0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"rank":{"@id":"http://purl.obolibrary.org/obo/TAXRANK_0000006","label":"species"},"label":"Apterichtus
        equatorialis","extinct":false,"common_name":"Finless eel","@id":"http://purl.obolibrary.org/obo/VTO_0067193"}'
  recorded_at: Tue, 12 Dec 2017 22:22:17 GMT
recorded_with: VCR 3.0.3
