---
http_interactions:
- request:
    method: get
    uri: http://kb.phenoscape.org/api/gene/search?text=coil
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v0.13.1 Phenoscaperb/v0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[{"@id":"http://zfin.org/ZDB-GENE-000330-8","label":"coil","taxon":{"@id":"http://purl.obolibrary.org/obo/NCBITaxon_7955","label":"Danio
        rerio"},"matchType":"exact"},{"@id":"http://www.informatics.jax.org/marker/MGI:104842","label":"Coil","taxon":{"@id":"http://purl.obolibrary.org/obo/NCBITaxon_10090","label":"Mus
        musculus"},"matchType":"exact"}]}'
  recorded_at: Wed, 20 Dec 2017 02:05:03 GMT
recorded_with: VCR 3.0.3
